<h1>{{ stateSummary?.state }} {{stateSummary?.type}}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map #gm [latitude]="lat" [longitude]="lng">
  <ng-container *ngFor="let m of stateSummary?.property">
  <agm-marker  *ngIf="m.location"
  [latitude]="convertStringToNumber(m.location.lat)"
  [longitude]="convertStringToNumber(m.location.lon)"
  (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
  <agm-info-window #infoWindow>
    <a routerLink="/asset/{{stateSummary?.state_code}}/{{stateSummary?.type_code}}/{{m?.name}}">{{m.name}}</a>
<pre>

    Date: {{m.average_secdate}}
    NOI: ${{m.average_secnoi|number}}
    Valuation: ${{m.average_secvalue|number}}
    Cap Rate: {{m.sec_caprate}}
</pre>
  </agm-info-window>
</agm-marker>
</ng-container>
</agm-map>

<!--pre>{{stateSummary|json}}</pre-->
