<h1>{{ stateSummary?.state }} {{stateSummary?.type}}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map *ngIf="stateSummary" #gm (mapReady)="mapReady($event)">
  <ng-container *ngFor="let m of stateSummary.property">
  <agm-marker  *ngIf="m.location"
  [latitude]="convertStringToNumber(m.location.lat)"
  [longitude]="convertStringToNumber(m.location.lon)"
  (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; showDetails(stateSummary.state_code, stateSummary.type_code, m)">
  <agm-info-window #infoWindow>
    <h3>{{m.name}}</h3>
      <img src="{{imgUrl}}"/>
  <p>{{m.name}} had a net operating income of ${{m.average_secnoi|number}} on
     {{m.average_secdate}}.  It was valued at ${{m.average_secvalue|number}}
      with a cap rate of {{m.sec_caprate}}%
  </p>
  </agm-info-window>
</agm-marker>
</ng-container>
</agm-map>

<app-asset-details *ngIf="name" [state]="state" [type]="type" [name]="name"></app-asset-details>
