.homepage {
  height: calc(100vh - 56px);
  background-image: url(../../assets/IMG_4033.jpg);
  background-size: cover;
}

.homepage-form {
  padding-top: 94px;
  padding-left: 50px;
}

@media screen and (max-width: 600px) {
  .homepage-summary {
    display: none;
  }
  .homepage-form {
    padding-left: 0;
    text-align: center;
  }
}

.homepage-summary{
  background-color: white;
}

.text-cont {
  position: fixed;
  bottom: 20px;
  width: 100%;
  color: #fff;
  background-color: rgba(33,33,33,.3);
  padding: 10px;
}

.switch-container {
  padding: 10px;
  background-color: white;
  display: inline-block;
  border-radius: 0 0 5px 0;
}

.switch-container span {
  vertical-align: middle;
  color: #B7B7B7;
}

.switch-container span.active {
  color: black;
}


/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
  vertical-align: middle;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
