.homepage {
  height: calc(100vh - 56px);
  background-image: url(../../assets/IMG_4033.jpg);
  background-size: cover;
}

.homepage-form {
  padding-top: 94px;
  padding-left: 50px;
}

@media screen and (max-width: 600px) {
  .homepage-summary {
    display: none;
  }
  .homepage-form {
    padding-left: 0;
    text-align: center;
  }
}

.homepage-summary{
  background-color: white;
}

.text-cont {
  position: fixed;
  bottom: 20px;
  width: 100%;
  color: #fff;
  background-color: rgba(33,33,33,.3);
  padding: 10px;
}
