<div class="homepage">
  <div class="text-cont">
    <h1>Visulate CMBS Asset Information</h1>
    <p>Summary of properties used to collateralize commercial mortgage backed securities (CMBS) based on filings
      submitted to the Securities and Exchange Commission.</p>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <button class="btn btn-primary" [class.active]="searchMode === 'location'" (click)="searchMode = 'location'">Property Location</button>
    <button class="btn btn-primary" [class.active]="searchMode === 'issuer'" (click)="searchMode = 'issuer'">Issuing Entity</button>
  </div>

  <div class="homepage-form" *ngIf="searchMode === 'location'">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
        {{selectedState ? selectedState.name : 'Select state'}}
      </button>
      <div class="dropdown-menu dropdown-primary dropselect">
        <a *ngFor="let state of states" class="dropdown-item" (click)="onSelectState(state)">{{state.name}}</a>
      </div>
    </div>
    <div *ngIf="usage" class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
        Select usage
      </button>
      <div class="dropdown-menu dropdown-primary dropselect">
        <a *ngFor="let usageType of usage" class="dropdown-item" (click)="onSelectType(usageType.code)">{{usageType.name}}</a>
      </div>
    </div>
  </div>
  <table *ngIf="stateUsageSummary && searchMode === 'location'" class="table homepage-summary">
    <thead>
      <tr>
        <th>Usage</th>
        <th>NOI</th>
        <th>Value</th>
        <th>Cap Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usageType of stateUsageSummary" (click)="onSelectType(usageType.type_code)">
        <th scope="row">{{usageType.usage_type}}</th>
        <td>${{usageType.average_secnoi|number}}</td>
        <td>${{usageType.average_secvalue|number}}</td>
        <td>{{usageType.sec_caprate}}
      </tr>
    </tbody>
  </table>

  <div class="homepage-form" *ngIf="searchMode === 'issuer'">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
        {{selectedDepositor ? selectedDepositor.name : 'Select depositor'}}
      </button>
      <div class="dropdown-menu dropdown-primary dropselect">
        <a *ngFor="let depositor of depositors" class="dropdown-item" (click)="onSelectDepositor(depositor)">{{depositor.name}}</a>
      </div>
    </div>
    <div *ngIf="issuers" class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
        Select issuer
      </button>
      <div class="dropdown-menu dropdown-primary dropselect">
        <a *ngFor="let issuer of issuers" class="dropdown-item" (click)="onSelectIssuer(issuer.code)">{{issuer.name}}</a>
      </div>
    </div>
  </div>
</div>
