/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dropselect {
  max-height: 300px;
  overflow: scroll;
}

.container {
  max-width: none !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.hidden {
  display: none !important;
}
