<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CMBS Offerings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.1/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.1/dist/js/materialize.min.js"></script>
    <link rel="icon" href="/static/visulate-tiny.png" type="image/png">
    <script type="module" src="/static/main.js"></script>
  </head>
  <body>

    <nav class="navbar blue darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="padding-left: 8px;">Visulate CMBS</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" data-target="trusts" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>


    <ul class="sidenav" id="trusts" style="top: 65px;">
      {{#each this}}
      <li><a href="#!" onclick="displayTermSheet({{ cik }}, '{{ accession_number }}', '{{trust}}' )"><i class="material-icons">corporate_fare</i>{{trust}}</a></li>
      {{/each}}
    </ul>

    <div class="container">
      <h5 id="title">CMBS Offerings</h5>
      <div id="offering"></div>

    {{!-- display a working dialog during long running operations --}}
      <div class="row" >
        <div class="col s6 offset-s4" id="working-dialog" style="display: none;">
          <div class="card-panel ">
            <span id="working-message">Working...
            </span>
            <div class="progress"> <div class="indeterminate"></div></div>
          </div>
        </div>
      </div>

      {{!-- Follow-up questions --}}
      <div class="row">
        <form class="col s12" id="chat-form">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="chat-input" class="materialize-textarea" placeholder=" "></textarea>
              <label for="chat-input">Follow-up Questions</label>
              <a id="chat-submit-fab" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">send</i></a>
            </div>
          </div>
        </form>
      </div>

    </div>  {{!-- container --}}

    <script type="module">
      import { addEventListeners } from '/static/main.js';
      addEventListeners();
    </script>
  </body>
</html>