<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CMBS Offerings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.1/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.1/dist/js/materialize.min.js"></script>
    <link rel="icon" href="/static/visulate-tiny.png" type="image/png">

  </head>
  <body>

    {{!-- Navigation Bar --}}
    <nav class="navbar blue darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="padding-left: 8px;">Visulate CMBS</a>
      </div>
    </nav>

    {{!-- Main Content --}}
    <div class="container">

      {{!-- CMBS Offering selection --}}
      <div class="row" style="margin-top: 15px;">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">corporate_fare</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Select a CMBS Offering</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active"href="#properties">Properties</a></li>
            <li class="tab col s3"><a href="#offering">Offering Details</a></li>
          </ul>
        </div>
        <div class="col s12" id="properties"></div>
        <div class="col s12" id="offering"></div>  {{!-- Full width on small screens --}}
      </div>


    {{!-- display a working dialog during long running operations --}}
      <div class="row" >
        <div class="col s12 m8 offset-m2" id="working-dialog" style="display: none;"> {{!-- Full width on small screens, 8 columns on medium and up --}}
          <div class="card-panel ">
            <span id="working-message">Working...
            </span>
            <div class="progress"> <div class="indeterminate"></div></div>
          </div>
        </div>
      </div>

      {{!-- Follow-up questions --}}
      <div class="row" id="follow-up-questions" style="display: none;">
        <div class="col s12 m10 offset-m1">
          <form class="col s12" id="chat-form">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="chat-input" class="materialize-textarea" placeholder=" "></textarea>
                <label for="chat-input">Follow-up Questions</label>
              <a id="chat-submit-fab" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">send</i></a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>  {{!-- container --}}
    <script>
      window.MAPS_API_KEY = "{{MAPS_API_KEY}}";
      window.trusts = {{{json trusts}}};
    </script>
    <script type="module" src="/static/main.js"></script>
  </body>
</html>